.fancy-dropdown {
  position: relative;
  width: 120px;
  font-family: sans-serif;
  margin-bottom: 1em;
  display: flex;
  flex-position: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.fancy-label {
  font-size: 0.8rem;
  height: auto;
  margin-bottom: 4px;
  display: block;
  color: #444;
}

.fancy-selected {
  border: 1px solid #ccc;
  font-size: .8rem;
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fancy-options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  max-height: 250px;
  overflow-y: auto;
  font-size: .8rem;
}

.fancy-option {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.fancy-option:hover {
  background-color: #f5f5f5;
}

.fancy-option-label {
  font-weight: 500;
}

.fancy-option-note {
  font-size: 0.6rem;
  color: #777;
}

.fancy-arrow {
  font-size: 0.75rem;
  color: #666;
}
