.control-container {
  align-self: flex-start;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-position: column;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}



.control-container label {
  font-size: 0.75rem;
  margin: 4px auto;
  display: block;
  color: #444;
  line-height: 1.2;
  width: auto;  /*it will center itself*/
}

.control-container input, .control-container select {
  border: 1px solid #ccc;
  font-size: .8rem;
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}