.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #eee;
  gap: 1rem;
  font-size: .8rem;
  min-width: 0;
  overflow: none;
}


.dashboard-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: black;
}

.toggle-label {
    font-weight: normal;
    font-size: .8rem;
}

.dashboard-expanded {
  padding: 0.5rem;
  border-top: 1px solid #ccc;
  animation: slideDown 0.3s ease;
  display:flex;
  align-items: center;
}

.complement-toggle-btn {
  padding: 0.4rem 0.75rem;
  border: 1px solid #ccc;
  background: #ddd;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: center;
  height: auto;
}

.complement-toggle-btn:hover {
  background: #eee;
}

.complement-toggle-btn.active {
  background: var(--brand-color);
  color: white;
  border-color: #007acc;
}

/* Optional: Slide down animation */
@keyframes slideDown {
  from { max-height: 0; opacity: 0; }
  to { max-height: 500px; opacity: 1; }
}



@media (max-width: 768px) {
    .dashboard-container {
        padding: 0 1rem;
    }
}