

/* === Base Reset === */
* {
  box-sizing: border-box;
}

/* === Document Defaults === */

  html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background-color: #f8f8f8;
  color: #222;
  line-height: 1.5;
  font-size: clamp(14px, 2vw, 18px);  /*for rem base */
  overflow-y: scroll;
  overflow-x: hidden;
    padding: 0;
  -webkit-text-size-adjust: 100%;
}





/* === Media === */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}





/* === Buttons === */
button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
button {
 display: inline-flex; 
 justify-content: center;    /* shrink-wrap width */
  width: auto;              /* ignore any 100% defaults */
  flex: 0 0 auto;           /* don't grow in flex parents */
  align-items: center;
  gap: .5rem;               /* icon + text spacing, optional */
  white-space: nowrap; 
  padding: .3rem .7rem;
  background-color: var(--button-color);
  color: var(--text-light);
  border-radius: 6px;
}

button:hover {
  background-color: var(--button-hover);
}

.heart {
  background: transparent !important;
}

/* === Forms === */
input, textarea, select, button {
  font: inherit;
  line-height: 1.3;
}

input, textarea, select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: .8rem !important;
}

table, th, td {
  font-size: .8rem;
}

table input[type="checkbox"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table input[type="text"] {
  width: 100%;
  padding: 2px 4px;
  font-size: 0.8rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}