body {
  font-size: 1rem;   /* 14–18px depending on screen size */

}

p {
  font-size: 1rem;   /* same as body */
}

h1 {
  font-size: 2rem; /* 35–45px depending on screen size */
  line-height: 1.3;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
}


p + p {
  margin-top: 1rem;
}

button {
  font-size: .8rem;
}