/* src/components/infocard.css */
.info-card-header {
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
    z-index: 3000;
}

.info-card {
  position: fixed;
  z-index: 3000;
  pointer-events: auto;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.info-card h3 {
  font-size: 1.2rem;
  margin-bottom: .2rem;
}

.info-card p {
  font-size: .8rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.info-card button.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  color: black;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-card button.close-btn:hover {
  background-color: red;
  color: white;
}

/*@media (min-width: 768px) {
  .info-card {
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .info-card {
    top: 4rem;
    left: 50%;
    transform: translateX( -50%);
  }
}
*/
