.palette-wrapper {
  margin: 4rem auto;         /* center horizontally */
  padding: 0 .5rem;        /* small internal padding */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

