.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

/* Alignment modifiers */
.column-center {
  align-items: center;
  text-align: center;
}

.column-left {
  align-items: flex-start;
  text-align: left;
}

.column-right {
  align-items: flex-end;
  text-align: right;
}

