.auto-complete-box {
  max-width: 400px;
  margin: 1rem auto;
  margin-left: 2rem;
}

.input-wrapper {
  position: relative;
  font-size: 1rem;
  font-family: inherit;
}

.input-wrapper input {
  position: relative;
  background: transparent;
  color: black;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  z-index: 2;
}

.input-wrapper .ghost-text {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #ccc;
  font-size: 1rem;
  font-family: inherit;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
