.admin-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    overflow-y: hidden;
    border: 1px solid green;
    gap: 2rem;
    align-items: flex-start;
}

.admin-left,
.admin-middle,
.admin-right {
  flex: 1;
  min-width: 0;
}

.admin-left {
  min-width: 500px;
}

.admin-middle {
  max-width: 300px;
  align-self: center;
}

.admin-right {
  max-width:500px;
  align-self: center;
}